

 
body 
{
	font-family:sans-serif;
	text-align: center;
	color:white;
	margin:0;
 }

header
 {
 	background-color: #FFFFFF;
 	display: block;
 	width: 100%;
 	position: relative;
 }

#sec1
{
	background-image: url(../imgs/slide-bg-complexity.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow:  #242323 0px 1px 20px;
}

#sec2 
{
	
	background: url(../imgs/weDoBG.png),radial-gradient(circle,#BADEED,#2B80A4);
	box-shadow:  #242323 0px 1px 20px;
	
	
}
#sec3
{
	background-image: url(../imgs/news-and-events-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow:  #242323 0px 1px 20px;
}

#sec4
{
	background-color: #ECECEC;
	box-shadow: #242323 0px 1px 20px;
}

footer 
{
	background: url(../imgs/weDoBG.png),linear-gradient(120deg,black,#1A1A1A);
	box-shadow: #242323 0px 1px 20px;
}

ul 
{
	list-style-type: none;
}

#headerlimits{
	width:100%;
	height: 90px;
	margin: auto;
}


#mainmenu > li {
	display: inline-block;
	margin:5px;

}

.submenus {
	position: absolute;
	display: none;
}

#mainmenu > li:hover .submenus,#mainmenu>li .submenus:hover{
	display: block;
	top: 80px;
	background-color: white;
	margin: left;
}

.submenuhead{
	display: block;
	font-family: sans-serif;
	text-transform:uppercase;
	text-decoration: none;
	color:#827272;
}

a{
	text-decoration: none;
}
#logo{
	display: inline-block;
	float: left;
	padding-bottom: 3%;
}

nav
{
	padding-top: 0px;
}


#lang_sp_log
{
	display:block;
	float: right;
	padding-right: 10%;
	padding-top: 00px
}

#lang_sp_log>a 
{
	color: #827272;
}
 .boxofMenu1 ,  .boxofMenu2 , .imgMenu
{
	display: inline-block;
	vertical-align: top;
	width:30%;

}
.Menu1 >li >a , .Menu2 >li>a
{
	color:#827272;
}

#sec1, #sec2, #sec3,#sec4,footer
{
	width: 100%;
	display:inline-block;
}

.seclimits{
	width: 75%;
	margin: auto;
}


#up_slides , #down_slides{
	width: 100%;
	margin: auto;
	text-align: left;
}


.the_article_box >a
{
	color:white;
}
.smallBlueBtn
{
	display: inline;
	background-color: #45AAE0;
	border:#45AAE0;
	width: 3px;
	height: 10px;
	cursor: pointer;
}

.the_article_box
{	width:300px;
	height: 170px;
	display:inline-block;
	
	margin: 5px;
	vertical-align: bottom;
	border-radius: 30px;
	
}
.Readmore_link1 > article
{
	margin: auto;
	width:80%;
	height: 80%;
	

}

#down_slides >ul >li
{
	display: inline-block;

}
#box1 
{
	background-color: #F163D0;
	opacity: 0.7;
}

#box2 
{
	background-color: #1BB725;
	opacity: 0.7;
}
#box3 
{
	background-color: #FF5201;
	opacity: 0.7;
}
.sec2 li,#solutions_list ,.solutions{
	display: inline-block;
	position: relative;
	width: 100px;
	text-align: center;
	vertical-align: top;
}
